body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

.home-page {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    background-color: #333442a4;
    padding-top: 25%;
    height: auto;
    padding-bottom: 35%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333442a4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.stock-button {
    padding: 20px 80px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(119, 99, 99, 0.2);
    border: none;
    border-radius: 10px;
    background-color: #cbcf0f;
    color: #0c0b0b;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stock-button:hover {
    background-color: #098d35;
    transform: scale(1.05);
}