/* Animations */

@keyframes drop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        transform: scaleY(1)
    }

    to {
        transform: scaleY(0.5)
    }
}

@keyframes grow {
    from {
        transform: scale(0.35)
    }

    to {
        transform: scale(1)
    }
}

@keyframes rotateX {
    from {
        transform: rotateX(0deg)
    }

    to {
        transform: rotateX(360deg);
    }
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg)
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes rotateZ {
    from {
        transform: rotateZ(0deg)
    }

    to {
        transform: rotateZ(90deg);
    }
}

@keyframes translate {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-1000px)
    }
}


#main-page {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    background-image: url(../Images/stock3.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.main_title {
    position: absolute;
    right: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

.main_title p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: black;
}

.home-page {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    background-color: #48495339;
    backdrop-filter: blur(8px);
}

.stock-button {
    padding: 20px 80px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(119, 99, 99, 0.2);
    border: none;
    border-radius: 20px;
    background-color: #cbcf0f;
    color: #0c0b0b;
    margin-bottom: 300px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stock-button:hover {
    background-color: #098d35;
    transform: scale(1.05);
}

.arrow-box {
    position: absolute;
    left: 370px;
    top: 200px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    animation: drop 3s ease-out infinite;
}

.arrow1, .arrow3, .arrow5 {
    border: 1px solid black;
    height: 150px;
    width: 30px;
    border-radius: 15px;
    background-color: black;
    margin: 5px;
    animation: shrink 3s ease-in-out;
    animation-iteration-count: infinite;
}

.arrow2, .arrow4, .arrow6 {
    border: 1px solid black;
    height: 150px;
    width: 30px;
    border-radius: 15px;
    background-color: black;
    margin: 5px;
    animation: grow 3s ease-in-out;
    animation-iteration-count: infinite;
}

.hex-page {
    position: absolute;
    width: 810px;
    height: 810px;
    right: 70px;
    bottom: 30px;
}

.triangle1 {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: 
        rotateX 5s ease-out forwards infinite;
}

.lineA45R {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    rotate: 44deg;
    left: 295px;
    background-color: gold;
}

.lineA45L {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    rotate: -44deg;
    right: 295px;
    background-color: gold;
}

.lineAF {
    position: absolute;
    border: 2px solid black;
    height: 2px;
    width: 415px;
    bottom: 290px;
    background-color: gold;
}

.lineB45R {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    rotate: 136deg;
    left: 295px;
    bottom: 33px;
}

.lineB45L {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    rotate: -136deg;
    right: 295px;
    bottom: 33px;
}

.lineC45R {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    left: 152px;
    rotate: -15deg;
    bottom: 288px;
}

.lineC45L {
    position: absolute;
    border: 2px solid black;
    height: 295px;
    width: 2px;
    rotate: -75deg;
    left: 255px;
    bottom: 397px;
}

.lineD45R {
    position: absolute;
    border: 2px solid black;
    height: 295px;
    width: 2px;
    rotate: 75deg;
    left: 540px;
    bottom: 397px;
}

.lineD45L {
    position: absolute;
    border: 2px solid black;
    height: 300px;
    width: 2px;
    rotate: 15deg;
    right: 152px;
    bottom: 288px;
}