.stock-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    position: relative; /* For positioning the back button */
    height: 100vh; /* Full viewport height */
    background-color: #4e2a2a; /* Dark background for visibility */
    color: #ffffff; /* Light text color */
    opacity: 0.9; /* Optional: add slight transparency to see the image through */
}

.stock-title {
    display: flex;
    color: #0eb516;
    margin-top: 100px; /* Space above the title */
}

.back-button {
    position: absolute; /* Position it in the top-left */
    top: 20px; /* Distance from top */
    left: 20px; /* Distance from left */
    padding: 15px 70px; /* Button padding */
    background-color: #cbcf0f; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.back-button:hover {
    background-color: #098d35; /* Darker shade on hover */
    transform: scale(1.05);
}

.title {
    text-align: center; /* Center title text */
}

.plot-container {
    display: flex;
    justify-content: center; /* Center the plot container */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width */
    margin-top: 40px; /* Adjusted space to move the graph down */
}
